<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course_module.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course_module.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @course_module.type %>
</p>

<p>
  <strong>Audio:</strong>
  <%= @course_module.audio %>
</p>

<p>
  <strong>Video:</strong>
  <%= @course_module.video %>
</p>

<p>
  <strong>Slideshow:</strong>
  <%= @course_module.slideshow %>
</p>

<p>
  <strong>Slideshow:</strong>
  <%= @course_module.slideshow %>
</p>

<%= link_to 'Edit', edit_course_module_path(@course_module) %> |
<%= link_to 'Back', course_modules_path %>
