<p id="notice"><%= notice %></p>

<h1>Listing Course Packages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Video</th>
      <th>Slideshow</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_packages.each do |course_package| %>
      <tr>
        <td><%= course_package.title %></td>
        <td><%= course_package.description %></td>
        <td><%= course_package.video %></td>
        <td><%= course_package.slideshow %></td>
        <td><%= link_to 'Show', course_package %></td>
        <td><%= link_to 'Edit', edit_course_package_path(course_package) %></td>
        <td><%= link_to 'Destroy', course_package, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course package', new_course_package_path %>
